body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #333;
    overflow: hidden;
}

h2 {
    margin: 0;
    font-size: 1em;
    float: left;
}

.storyContainer {
    margin-top: 14px;
}

ul {
    clear: both;
    margin: 0;
    padding: 0;
}

ul.storyStatus li {
    background-color: #C09853;
    width: 25%;
    padding: 3px 0px 3px 0px;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    float: left;
}

li.taskTarget {
    position: absolute;
    width: 25%;
    list-style-type: none;
}

li#taskTargetToDo {
    border: 3px dotted #0000ff;
    left: 0%;
}

li#taskTargetProgress {
    border: 3px dotted #01ff0b;
    left: 25%;
}

li#taskTargetResolved {
    border: 3px dotted #ff5a00;
    left: 50%;
}

li#taskTargetDone {
    border: 3px dotted #ff00af;
    left: 75%;
}

.story li {
    width: 25%;
    list-style-type: none;
}

.item {
    width: 100%;
    border: 1px solid #DFDFDF;
    margin-top: 2px;
    padding: 2px;
    cursor : move;
}

.itemStatus0 {
    margin-left: 0%;
}

.itemStatus1 {
    margin-left: 100%;
}

.itemStatus2 {
    margin-left: 200%;
}

.itemStatus3 {
    margin-left: 300%;
}
