<!doctype html>
<html ng-app="stories">
    <head>
        <title>angular-taskboard</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <h1>angular-taskboard, Version {{0 + 1}}</h1>

        <form name="allStories" ng-controller="StoryController">
            <div class="sortingContainer">
                <span>Sort by:</span>
                <select ng-Model="orderProp">
                    <option value="-age">Age</option>
                    <option value="priority">Priority</option>
                </select>
            </div>

            <div class="filterContainer">
                <span>Filter by assignee:</span>
                <select ng-Model="filterProp">
                    <option ng-repeat="assignee in assignees" ng-model="assignee.name" value="{{assignee.name}}">{{assignee.name}}</option>
                </select>
                <a href="#/resetFilter" ng-click="resetFilter()">Reset filter</a>
            </div>

            <br />

            <a href="#/story/add" ng-click="newStory.triggerDialog()">add new story</a>

            <div class="addStoryContainer" ng-hide="newStory.hidden">
                <label for="storyName">Name</label>
                <input id="storyName" type="text" ng-model="newStory.name" />

                <fieldset id=storyPriority">
                    <legend>Priority</legend>
                    <input type="radio" name="priority" value="1" ng-model="newStory.priority">1 (max)</input>
                    <input type="radio" name="priority" value="2" ng-model="newStory.priority">2</input>
                    <input type="radio" name="priority" value="3" ng-model="newStory.priority">3</input>
                    <input type="radio" name="priority" value="4" ng-model="newStory.priority">4</input>
                    <input type="radio" name="priority" value="5" ng-model="newStory.priority">5 (min)</input>
                </fieldset>

                <input type="submit" value="Add" ng-click="newStory.add()"/>
            </div>

            <div class="addTaskContainer" ng-hide="newTask.hidden">
                <label for="taskStory">Story</label>
                <input id="taskStory" type="text" ng-model="newTask.story.name" readonly />

                <label for="taskTitle">Title</label>
                <input id="taskTitle" type="text" ng-model="newTask.title" />

                <label for="taskAssignee">Assignee</label>
                <input id="taskAssignee" type="text" ng-model="newTask.assignee" />

                <label for="taskEstimate">Estimated time</label>
                <input id="taskEstimate" type="text" ng-model="newTask.estimate" />

                <input type="submit" value="Add" ng-click="newTask.add()"/>
            </div>

            <!-- Header for story status -->
            <ul class="storyStatus">
                <li>ToDo ({{tasksUndone}})</li>
                <li>Progressing ({{tasksProgressing}})</li>
                <li>Resolved ({{tasksResolved}})</li>
                <li>Done ({{tasksDone}})</li>
            </ul>

            <!-- Placeholder for potential dragging targets -->
            <ul class="taskTargets">
                <li id="taskTargetToDo" class="taskTarget" ng-hide="taskTargets.targetToDo.hidden" droppable></li>
                <li id="taskTargetProgress" class="taskTarget" ng-hide="taskTargets.targetProgress.hidden" droppable></li>
                <li id="taskTargetResolved" class="taskTarget" ng-hide="taskTargets.targetResolved.hidden" droppable></li>
                <li id="taskTargetDone" class="taskTarget" ng-hide="taskTargets.targetDone.hidden" droppable></li>
           </ul>

            <div class="dropzone" droppable>
                <div class="storyContainer" ng-repeat="story in stories | orderBy:orderProp">
                    <h2>This is story {{story.name}}, priority {{story.priority}}</h2>
                    <a href="#/story/{{story.$$hashKey}}/addTask" ng-click="newTask.triggerDialog(story.$$hashKey)">add</a>
                    <a href="#/story/{{story.$$hashKey}}/delete" ng-click="deleteStory(story.$$hashKey)">del</a>
                    <ul class="story">
                        <li class="task" ng-repeat="task in story.tasks | filter:filterProp">
                            <div id="{{task.$$hashKey}}" class="item itemStatus{{task.status}}" draggable>
                                <input type="text" ng-model="task.title" ng-change="taskUpdated(this)" />
                                <a href="#/task/{{task.$$hashKey}}/delete" ng-click="deleteTask(task.$$hashKey)">del</a>
                                <br />
                                <span>Assignee: {{task.assignee}}</span>
                                <br />
                                <span>Estimated duration: {{task.estimate}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
        <script type="text/javascript" src="scripts/controllers.js"></script>
        <script type="text/javascript" src="scripts/services.js"></script>
        <script type="text/javascript" src="scripts/routers.js"></script>
</body>
</html>
