<!doctype html>
<html ng-app="stories">
    <head>
        <title>the simple taskboard</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <form name="allStories" ng-controller="StoryController">
            <div class="headlineContainer">
                <h1>the simple taskboard</h1>

                <ul class="modificators">
                    <li class="sortingContainer buttonDecoration">
                        <pre class="icon iconBright iconFilter" alt="Order by" title="Order by"></pre>
                        <select ng-Model="orderProp" alt="Order by" title="Order by">
                            <option value="-age">Age</option>
                            <option value="priority">Priority</option>
                        </select>
                    </li>

                    <li class="filterContainer buttonDecoration">
                        <pre class="icon iconBright iconPerson" alt="Filter by assignee" title="Filter by assignee"></pre>
                        <select ng-Model="filterProp" alt="Filter by assignee" title="Filter by assignee">
                            <option ng-repeat="assignee in assignees" ng-model="assignee.name" value="{{assignee.name}}">{{assignee.name}}</option>
                        </select>
                        <a href="#/resetFilter" ng-click="resetFilter()">
                            <pre class="icon iconBright iconReset" alt="Reset filter" title="Reset Filter"></pre>
                        </a>
                    </li>
                </ul>
            </div>

            <a class="iconButton buttonDecoration" href="#/story/add" ng-click="newStory.triggerDialog()">
                <pre class="icon iconBright iconPlus" alt="add new story" title="add new story"></pre>
                <span>add new story</span>
            </a>

            <div class="addStoryContainer" ng-hide="newStory.hidden">
                <label for="storyName">Name</label>
                <input id="storyName" type="text" ng-model="newStory.name" />

                <fieldset id=storyPriority">
                    <legend>Priority</legend>
                    <input type="radio" name="priority" value="1" ng-model="newStory.priority">1 (max)</input>
                    <input type="radio" name="priority" value="2" ng-model="newStory.priority">2</input>
                    <input type="radio" name="priority" value="3" ng-model="newStory.priority">3</input>
                    <input type="radio" name="priority" value="4" ng-model="newStory.priority">4</input>
                    <input type="radio" name="priority" value="5" ng-model="newStory.priority">5 (min)</input>
                </fieldset>

                <input type="submit" value="Add" ng-click="newStory.add()"/>
            </div>

            <div class="addTaskContainer" ng-hide="newTask.hidden">
                <label for="taskStory">Story</label>
                <input id="taskStory" type="text" ng-model="newTask.story.name" readonly />

                <label for="taskTitle">Title</label>
                <input id="taskTitle" type="text" ng-model="newTask.title" />

                <label for="taskAssignee">Assignee</label>
                <input id="taskAssignee" type="text" ng-model="newTask.assignee" />

                <label for="taskEstimate">Estimated time</label>
                <input id="taskEstimate" type="text" ng-model="newTask.estimate" />

                <input type="submit" value="Add" ng-click="newTask.add()"/>
            </div>

            <!-- Header for story status -->
            <ul class="storyStatus">
                <li>ToDo ({{tasksUndone}})</li>
                <li>Progressing ({{tasksProgressing}})</li>
                <li>Resolved ({{tasksResolved}})</li>
                <li>Done ({{tasksDone}})</li>
            </ul>

            <!-- Placeholder for potential dragging targets -->
            <ul class="taskTargets">
                <li id="taskTargetToDo" class="taskTarget" ng-hide="taskTargets.targetToDo.hidden" droppable></li>
                <li id="taskTargetProgress" class="taskTarget" ng-hide="taskTargets.targetProgress.hidden" droppable></li>
                <li id="taskTargetResolved" class="taskTarget" ng-hide="taskTargets.targetResolved.hidden" droppable></li>
                <li id="taskTargetDone" class="taskTarget" ng-hide="taskTargets.targetDone.hidden" droppable></li>
           </ul>

            <div class="dropzone" droppable>
                <div class="storyContainer" ng-repeat="story in stories | orderBy:orderProp">
                    <h2>This is story <strong>{{story.name}}</strong>, priority {{story.priority}} ({{story.tasks.length}} tasks)</h2>
                    <a class="buttonDecorationSmall" href="#/story/{{story.$$hashKey}}/addTask" ng-click="newTask.triggerDialog(story.$$hashKey)">
                        <pre class="icon iconDark iconPlus" alt="add new task" title="add new task"></pre></a>
                    <a class="buttonDecorationSmall" href="#/story/{{story.$$hashKey}}/delete" ng-click="deleteStory(story.$$hashKey)">
                        <pre class="icon iconDark iconDelete" alt="delete this story" title="delete this story"></pre></a>
                    <ul class="story">
                        <li class="task" ng-repeat="task in story.tasks | filter:filterProp">
                            <div id="{{task.$$hashKey}}" class="item itemStatus{{task.status}}" draggable>
                                <textarea ng-model="task.title"  ng-change="taskUpdated(this)">{{task.title}}</textarea>

                                <br />
                                <span>Assignee: <strong>{{task.assignee}}</strong></span>

                                <br />
                                <span>Estimated duration: <strong>{{task.estimate}}</strong></span>

                                <a class="taskDelete buttonDecorationSmall" href="#/task/{{task.$$hashKey}}/delete" ng-click="deleteTask(task.$$hashKey)">
                                    <pre class="icon iconDark iconDelete" alt="delete this task" title="delete this task"></pre>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
        <script type="text/javascript" src="scripts/controllers.js"></script>
        <script type="text/javascript" src="scripts/services.js"></script>
        <script type="text/javascript" src="scripts/routers.js"></script>
</body>
</html>
